
<%= render 'layouts/nav' %>
<div class="container">
<div class="row">
	<div class="col s12">
		<h5>Visualisation of yesterdays earthquakes and there magnitude</h5>
		<p>The map displays data from the USGS (link in the footer) and uses Google Maps to plot the location and magnitude</p>
		<p>Click the table icon in the top right hand corner to see more information about these earthquakes</p>
	</div>
</div>



<div class="row">
	<div class="col s12">
		<div id="map"></div>
	</div>
</div>
</div>
