@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";




/* Map inside tab */
#map {
  height: 438px;
  width: 100%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}