<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Shameless Disclaimer</h5>
				<p class="grey-text text-lighten-4">This project was built to demonstrate the use of PaaS and API consumption, not to demonstrate my frontend skills!</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Information</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">q.h.koike@se16.qmul.ac.uk</a></li>
					<li><a class="grey-text text-lighten-3" href="https://earthquake.usgs.gov/fdsnws/event/1/">Link to the API Resource</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<a class="grey-text text-lighten-4 right" href="https://github.com/HisashiQ/RailsEarthquakeMapper">This project is on GitHub, find more info here.</a>
		</div>
	</div>
</footer>