<nav>
	<div class="nav-wrapper">
		<%= link_to root_path, class: "brand-logo" do %>
		<i class="material-icons">cloud</i>Earthquake Mapper</a>
				<% end %>
		<ul class="right hide-on-med-and-down">
			<li><%=  link_to :root do %><i class="material-icons">location_on</i><% end %></li>
			<li><%=  link_to :quakes do %><i class="material-icons">view_list</i><% end %></li>
		</ul>
	</div>
</nav>